[submodule "galbul-datas-and-models"]
	path = galbul-datas-and-models
	url = https://github.com/yigitoo/galbul-datas-and-models.git
[submodule "gadesktop-admin-backend"]
	path = gadesktop-admin-backend
	url = https://github.com/yigitoo/gadesktop-admin-backend.git
[submodule "gadesktop-admin"]
	path = gadesktop-admin
	url = https://github.com/yigitoo/gadesktop-admin.git
