<!DOCTYPE html>
<html lang="tr">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static',filename='logo.png') }}">
    <link rel="stylesheet" href="/static/css/loginsignupstyle.css">
    <link rel="stylesheet" href="/static/css/complaint.css">
    <title>{{user.username}}'in İhbarı | GalBul</title>
</head>
<body>
<div class="login-box">
    <header style="z-index: 3 !important;" id="bg">
        <a href='/' style="background-color: transparent;">
          <img src="/static/go_back.svg" alt="Go back"/>
        </a>
    </header>
    <h2 style="margin-bottom:5rem;">İhbar et: {{ sikayet.username }}.</h2>
    <form action="/complaint" method="POST" id="sikayetform" enctype="multipart/form-data">
        <div class="user-box">
            <input type="text" name="title" placeholder="İhbar Başlığı" required="">
        </div>
        <div class="user-box">
            <input type="file" name="fileupload" required="">
        </div>
        <div style="margin-bottom: 1rem;">
            <textarea name="complainant" style="display: none;">{{ user._id }}</textarea>
            <textarea name="comp_user" style="display: none;">{{ sikayet._id }}</textarea>
            <textarea rows="10" cols="40" name="content" form="sikayetform" placeholder="İhbar metni..." required=""></textarea>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="İhbar Et!"/>
        </a>
    </form>
</div>
</body>
</html>