<!DOCTYPE html>
<html lang="tr">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{project_name}}</title>
   <link rel="icon" href="{{ url_for('static',filename='logo.png') }}">
   <link rel="stylesheet" href="/static/css/loginsignupstyle.css">
   <link rel="stylesheet" href="/static/css/guest.css">
</head>
<body style="background-color: rgb(255, 255, 255);">
   <div class="login-box">
      {% if project_name.upper() == "GALBUL"%}
        <h2>GalBul Sistemine Hoş geldiniz!</h2>
      {% else %}
        <h2>Gal Arısı Tespit Sistemi'ne Hoş geldiniz!</h2>
      {% endif%}
      <br>
      <form action="/ziyaretci" method="POST" style="flex:1; align-items:center; justify-content:center;" id="kayitform">
          <div class="user-box">
              <a href="/giris" style="border: 1px solid rgb(0, 255, 0); border-radius: 5px;">Giriş yap</a>
          </div>
          <div class="user-box">
            <a href="/kayit" style="border: 1px solid rgb(0, 255, 0); border-radius: 5px;">Kayıt ol</a>
          </div>           
      </form>
  </div>
   
<script>

</script>
</body>
</html>