<html lang="tr">
<head>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/topojson.v0.min.js"></script>
  <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
  <meta name=application-name content="GalBul">
  <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="icon" href="{{ url_for('static',filename='logo.png') }}">
  <title>GalBul ~ Ana Sayfa</title>
  <!--<script src="../static/js/parseldeneme.js"></script> salih ne alaka bu ister flasktan ayarla ister htmle url_for() koy olm  :D -->
</head>
<body>
<form style="display: inline-block;" method="POST" id="dosyaform" enctype="multipart/form-data">
  <input type="file" name="dosya">
  <input style="background-color: #2fe203; color:white; border: 1px solid black; border-radius: 20px;" type="submit" value="Gönder">
</form>
<a href="/logout" style="position: relative; left:88%; padding-bottom: 10px; display: inline-block; position: absolute;">
  <button class="exitbtn">
    Çıkış yap
  </button>
</a>
<a href="/profile/{{user._id}}" style="margin-left: 5%;">
  <span>
    <img src="https://avatars.dicebear.com/api/micah/{{user._id}}.svg" style="display:inline-block; margin-left: 5%; position: fixed; top: 10px; right: 15px; width:36px; height:36px; background-color: #2fe203; border: 1px solid white; border-radius: 50%;" alt="{{user.username}}" />
  </span>
</a>
<div id="mapid" style="border-radius: 25px; width: 100%; height: 100%;"></div>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>