<html lang="tr">
<head>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/topojson.v0.min.js"></script>
  <link rel="stylesheet" href="/static/css/leaflet.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name=application-name content="GalBul">
  <script src="/static/js/leaflet.js"></script>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="icon" href="{{ url_for('static',filename='logo.png') }}">
  <title>{{project_name}} ~ Ana Sayfa</title>
</head>
<body>
<nav class="navbar navbar-dark bg-light justify-content-between">
    <form style="display: inline-block;" method="POST" class="navbar-brand" id="dosyaform" enctype="multipart/form-data">
      <input type="file" name="dosya" onchange="submit_form()">
    </form>
    <input name="query" style="width:30%; margin-right: -2.5rem;" id="query" class="form-control mr-sm-2" type="text" placeholder="Örnek: Ahmet G." aria-label="Search">
    <button id="search" class="btn btn-outline-success my-2 my-sm-0" onclick="search()">Profili Ara</button>
    
    
    <a href="/profile/{{user._id}}" style="margin-left: 5%;">
      <span>
        <img src="https://avatars.dicebear.com/api/micah/{{user._id}}.svg" style="display:inline-block; margin-left: 5%; position: fixed; top: 10px; right: 15px; width:2.5rem; height:2.5rem; background-color: #2fe203; border: 1px solid white; border-radius: 50%;" alt="{{user.username}}" />
      </span>
    </a>
</nav>
<div id="mapid"style="border-radius: 2.5px;height: 100%; width: 100%;"></div>
<script>
function koordinat(enlem, boylam) {
  return new L.LatLng(enlem, boylam)
}
function main() {

  let parselData;
  var setViewLatLng = new L.LatLng(38.329355001, 28.0694747494);
  var mymap = L.map('mapid').setView(setViewLatLng, 19)
  var latlng2 = new L.LatLng(38.329355001, 28.0694747494);


  var parsel = L.polygon(
    [
      [28.06978000000, 38.32976000000].reverse(),
      [28.06968000000, 38.33009000000000000].reverse(),
      [28.06962000000, 38.33021000000000000].reverse(),
      [28.06957000000, 38.33028000000000000].reverse(),
      [28.06952000000, 38.33029000000000000].reverse(),
      [28.06945000000, 38.33027000000000000].reverse(),
      [28.06935000000, 38.33019000000000000].reverse(),
      [28.06928000000, 38.3301000000000000].reverse(),
      [28.06919000000, 38.32992000000000000].reverse(),
      [28.06913000000, 38.32979000000000000].reverse(),
      [28.06909000000, 38.32968000000000000].reverse(),
      [28.06909000000, 38.32962000000000000].reverse(),
      [28.06911000000, 38.32962000000000000].reverse(),
      [28.06911000000, 38.32956000000000000].reverse(),
      [28.06915000000, 38.3293000000000000].reverse(),
      [28.06926000000, 38.32929000000000000].reverse(),
      [28.06952000000, 38.32923000000000000].reverse(),
      [28.06972000000, 38.3292000000000000].reverse(),
      [28.06975000000, 38.32929000000000000].reverse(),
      [28.06978000000, 38.32939000000000000].reverse(),
      [28.06983000000, 38.32956000000000000].reverse(),
      [28.06978000000, 38.32966000000000000].reverse(),
      [28.06978000000, 38.3297600000000000].reverse()], {
    color: 'red'

  }).addTo(mymap);
  let googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
    maxZoom: 20,
    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
  });
  googleSat.addTo(mymap)

  navigator.geolocation.getCurrentPosition(function (location, options = {
    enableHighAccuracy: true,
    timeout: 500,
    maximumAge: 0
  }) {

    let redIcon = new L.Icon({
      iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
      shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
    });

    L.marker(latlng2, { icon: redIcon }).bindPopup("Riskli Gal Arısı, Nazilli/Aydın E: 37.8618 B: 27.2534").addTo(mymap);
    L.marker(koordinat(38.3526662, 27.6821678), { icon: redIcon }).bindPopup("Riskli Gal Arısı, Nazilli/Aydın E: 37.8618 B: 27.2534").addTo(mymap);
    L.marker(koordinat(38.3473424, 27.6853388), { icon: redIcon }).bindPopup("Riskli Gal Arısı, Nazilli/Aydın E: 37.8618 B: 27.2534").addTo(mymap);
    L.marker(koordinat(38.3500182, 27.6866751), { icon: redIcon }).bindPopup("Riskli Gal Arısı, Nazilli/Aydın E: 37.8618 B: 27.2534").addTo(mymap);
    L.marker(koordinat(38.3509533, 27.6856382), { icon: redIcon }).bindPopup("Riskli Gal Arısı, Nazilli/Aydın E: 37.8618 B: 27.2534").addTo(mymap);
    getParsel(location)

  });
} main()

const getParsel = async function (location) {
  let result = await fetch(`/parselSorgu/${location.coords.latitude}/${location.coords.longitude}`, {
    method: "GET",
  })
  let parselData = await result.json();
}
  function submit_form(){
    let formm = document.querySelector("#dosyaform");
    formm.submit();
  }
  

</script>
</body>
</html>