<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GalBul ~ Giriş Sayfası </title>
    <link rel="stylesheet" href="/static/css/loginsignupstyle.css">
    <link rel="icon" href="{{ url_for('static',filename='logo.png') }}">
</head>
<body>
    <div class="login-box">
        <h2>GalBul Giriş Formu</h2>
        <br>
        <form action="/login" method="POST">
            <div class="user-box">
                <input type="email" name="email" placeholder="Kullanıcı E-mail" required="">
            </div>
            <div class="user-box">
                <input type="password" name="password" placeholder="Şifre" required="">
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="submit" value="Giriş yap!"/>
            </a>
        </form>
    </div>
</body>
</html>
