<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hesap/Profil Bilgileriniz Güncellendi.</title>
    <link rel="icon" href="{{ url_for('static',filename='logo.png') }}">

</head>
<body>
<script>
    const url = '/home'
    window.alert('Hesap/Profil Bilgileriniz Güncellendi.')
    setTimeout(() => window.location.href = url, 200)
</script>
</body>
</html>